@page
@model ChangePasswordModel
@{
}

<h4>@ViewData["Title"]</h4>

<div class="">
    <div class="card">
        <h3 class="card-header"><i class="fas fa-key"></i> Đổi mật khẩu</h3>
        <div class="card-body">
            <form id="change-password-form" method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="Input.OldPassword"></label>
                    <input asp-for="Input.OldPassword" class="form-control" />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Input.NewPassword"></label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <partial name="_StatusMessage" for="StatusMessage" />
            </form>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
